[2015-10-09 08:49] zinwalin opened #1 "how to switch front and rear camera?"
thanks.

[2015-10-10 02:46] remirobert commented on #1
CameraEngine is still under development. It's ready for a production, but some APIs are missing, like this one. I will add it quickly. 😉

[2015-10-10 03:31] remirobert commented on #1
Done !.

So now for change the device rotation, it's very simple :

[code]

[2015-10-10 03:31] #1 closed

[2015-10-13 15:28] remirobert opened #2 "Image doc"
![noun_128614_cc](https://cloud.githubusercontent.com/assets/3276768/10459431/0ab69d64-7202-11e5-99b2-4b65c01bd01a.png)

[2015-10-14 07:53] zinwalin opened #3 "switch camera with crash"
when u switch camera, make sure this:

 You must remove and recreate the AVCaptureVideoDataOutput as well.

[2015-10-15 04:08] #2 closed

[2015-10-15 04:09] remirobert commented on #3
Hum sorry for the mess. 😓
I didn't get any crash. I will check out your suggestion.
Thanks for your support.

[2015-11-12 09:25] zinwalin opened #4 "video short delay at beginning"
the video captured with CameraEngine has a short delay with black screen but with audio, just for about a second.

is it ok there? maybe u can reproduce this issue.

thanks a lot.

[2015-11-12 12:31] remirobert commented on #4
I will give a look at it.

[2015-11-13 02:48] zinwalin commented on #4
at the beginning.

[2015-11-13 08:50] zinwalin opened #5 "how to capture square video"
I tried to hardcode height and width for VideoEncoder's process,

 _encoder = [VideoEncoder encoderForPath:path Height:_cy width:_cx channels:_channels samples:_samplerate];

as follows:

        // hard-code resolution
        NSDictionary* actual = _videoDataOutput.videoSettings;
//        _cy = [[actual objectForKey:@"Height"] floatValue];
//        _cx = [[actual objectForKey:@"Width"] floatVa

[2015-11-18 08:20] zinwalin commented on #4
@remirobert  I have integrated CameraEngine within a single View Controller which supports video and picture capture. the issue happened when I start to capture and then switch to taking-picture mode, so there's a gap which demonstrated in video with black for a short period.

[2015-12-23 04:39] Jackson0111 opened #6 "Focus?"
CameraEngine is an awesome library, I'm loving it and thanks a lot for making my life easier. It would be fantastic if you could add tap to focus function though, any chance this could be done?

[2015-12-24 03:00] remirobert commented on #6
Yep. I will implement it. Thanks. :+1:

[2015-12-24 05:49] remirobert commented on #5
Good ! That's a good feature to implement. Let's do it. :+1:

[2016-01-05 06:09] Jackson0111 opened #7 "Put start() in ViewDidLoad() causes crash"
I have following code in ViewDidLoad() and it causes app crash with error 'Can't add a nil AVCaptureInput' :

    override func viewDidLoad() {

        CameraEngine.startup()

        let preview: AVCaptureVideoPreviewLayer = CameraEngine.getPreviewLayer()

        preview.frame = self.view.bounds

        self.view.layer.addSublayer(preview)

        self.view.addSubview(takePhotoButton)

[2016-01-05 06:44] remirobert commented on #7
On simulator maybe ?

[2016-01-05 07:10] Jackson0111 commented on #7
yes, only on simulator. Although it doesn't crush on real device, but it doesn't work well with UIPageViewController. I have a pageVC that shows three pages, camera is one of them, when swipe to switch pages UI will pause for a second then switch.

[2016-01-05 07:28] remirobert commented on #7
That's strange. So first the crash on the simulator is "normal". I mean I can also avoid it.
For the second point that's strange. Probably you can start the camera engine, in the AppDelegate.

[code]

[2016-01-05 07:32] Jackson0111 commented on #7
On a real device, it only freezes the UI on the first swipe, after that everything works smoothly.

[2016-01-05 07:36] remirobert commented on #7
Yes ok ! That's because the camera engine in the very first time, is begin to start.
So move the start in the AppDelegate, and everything, will works as expected.

[2016-01-05 07:42] Jackson0111 commented on #7
Perfect!!! Thanks! I really love this thing it's simple and great

[2016-01-05 07:43] remirobert commented on #7
Awesome thanks !.

[2016-01-05 07:43] #7 closed

[2016-02-12 06:55] remirobert commented on #6
Implemented in this new version enjoy !!!

[2016-02-12 06:55] #6 closed

[2016-02-12 06:55] remirobert commented on #4
fixed

[2016-02-12 06:55] #4 closed

[2016-02-12 06:55] #3 closed

[2016-02-12 06:56] remirobert commented on #2
![cameraenginelogo](https://cloud.githubusercontent.com/assets/3276768/13000720/df3ec444-d1b1-11e5-9312-e70dabafa2f1.png)
![bannerbot](https://cloud.githubusercontent.com/assets/3276768/13000723/e2203c88-d1b1-11e5-983c-0a76c0f994db.png)

[2016-02-12 07:00] Jackson0111 commented on #6
Fantastic!!

[2016-02-12 07:03] remirobert commented on #2
![bannabot](https://cloud.githubusercontent.com/assets/3276768/13000776/da960a14-d1b2-11e5-849f-d0f0703b8aa2.png)

[2016-02-12 07:05] remirobert commented on #6
It's a brand new version in swift.

[2016-02-12 07:12] Jackson0111 commented on #6
I will implement this as soon as I get some time, my current project is almost done and thanks for your work man!

[2016-02-12 07:17] remirobert commented on #6
:+1:  my pleasure

[2016-03-09 09:01] Jackson0111 commented on #6
Hey Remi! Great work man, really the camera is awesome. I was looking the demo project, and my understanding is I have to implement the touch to focus UI animation myself. Does the camera take care of that?

[2016-03-09 09:17] remirobert commented on #6
Yeah currently, I didn't implement any API to do an animation in the cameraEngine itself. Probably, It will be a set of extension, to manage that easily.

If you set the manual Focus with a touch on the screen you must implement something like that :

[code]

[2016-03-09 19:14] Jackson0111 commented on #6
I see! Alright I will give it shot! Thanks a lot!!!

[2016-03-10 08:19] Jackson0111 opened #11 "Minimum deployment requirement"
Hey Remy. I was trying to get the new version into my project, which is developed on minimum iOS 8.0, CameraEngine requires minimum 9.2 to do pod install. Is there a way to fix this?

[2016-03-10 10:28] remirobert commented on #11
try quickly, to import the source directly in projects to see.
I will try to downgrade.

[2016-03-28 15:56] theovdberg opened #12 "Camera Orientation"

[2016-03-28 17:27] #12 closed

[2016-03-29 01:06] remirobert commented on #12
Can you describe me your bug about that ?
Because in the example project you actually can change the orientation of the device.

[2016-03-29 18:00] theovdberg commented on #12
It isn't really buy, it was more about a question of how I could implement the portrait mode, but I didn't look that good, so sorry for bothering and thank for the quick response

Ps. Thank you for making this great framework!

[2016-03-30 02:04] remirobert commented on #12
Thank you that's great :fire: :wolf: :+1:

[2016-03-30 05:18] Jackson0111 commented on #11
Hey Remi, I still cannot install cameraEngine through pods, any idea?

[2016-03-30 05:55] remirobert commented on #11
Can you show me the error please ?

[2016-03-30 06:43] remirobert commented on #11
Fixed with new version 0.9.
**CameraEngine** now support iOS8+

Open the issue again, if you got any issue.

[2016-03-30 06:58] Jackson0111 commented on #11
I still see this error:
![screen shot 2016-03-30 at 2 58 15 am](https://cloud.githubusercontent.com/assets/13260808/14134208/590df714-f623-11e5-84b1-210edaf8c3e3.png)

[2016-03-30 07:05] remirobert commented on #11
That's strange. Let me check that.

[2016-03-30 07:09] Jackson0111 commented on #11
if it helps, this is my pod file: pod 'CameraEngine', '~> 0.9' and i did pod update

[2016-03-30 07:17] remirobert commented on #11
I tried on a production project the new version. This is the **Podfile** I use :

[code]

And I don't have any issue during the installation :tada: :balloon: .
Can you show your full **Podfile** ?

[2016-03-30 07:22] Jackson0111 commented on #11
![screen shot 2016-03-30 at 3 22 01 am](https://cloud.githubusercontent.com/assets/13260808/14134623/9a55c550-f626-11e5-896c-6f242662735b.png)

[2016-03-30 07:41] remirobert commented on #11
Ok thanks to sent me back your **Podfile**
So I had the ```platform :ios, '8.0'``` line in mine.
And it still compile and build without any issues.

Can you try to remove the Pods directory, and then ```pod install --verbose```
And see what's going on.

[2016-03-30 08:11] Jackson0111 commented on #11
I just did pod repo remove master, pod setup then pod install. everything works fine now thanks a lot!!!

[2016-03-30 08:13] Jackson0111 commented on #11
I also have another question, as you can see I'm using lots of dependencies. Is that necessarily bad? Should I just use dependencies when it comes to animation and UI design in general, or should I write every code myself? What's your opinion on that?

[2016-03-30 08:24] remirobert commented on #11
No of course dependencies are great, it can save you a lot of time depending on what you need.
But you can have some issues, with some dependencies, for example, for a new Swift version or something. So my recon for that, is to choose well the dependencies, and use it if it's very useful.

[2016-03-30 08:24] #11 closed

[2016-03-30 08:25] remirobert commented on #2
![screenshowcamera](https://cloud.githubusercontent.com/assets/3276768/14136175/03b61a50-f694-11e5-90d9-8973be1cac9f.png)

[2016-03-30 08:27] remirobert commented on #2
![showscreencamera](https://cloud.githubusercontent.com/assets/3276768/14136235/579a1a2c-f694-11e5-8bce-f784884da8ea.png)

[2016-04-02 19:47] jnoh opened #13 "Black frames at the start of a video recording"
When recording a video, the video starts black for a few frames. It happens rather frequently.

[2016-04-03 02:29] remirobert commented on #13
Thanks for reporting this issue. I will check that.

[2016-04-03 02:32] jnoh commented on #13
I found the issue! I'll submit a pull request so you can take a look. 

On Sat, Apr 2, 2016 at 7:29 PM -0700, "rémi " <notifications@github.com> wrote:

Thanks for reporting this issue. I will check that.

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub

[2016-04-03 05:42] remirobert commented on #13
cloud be so great !

[2016-04-04 00:40] #13 closed

[2016-04-21 01:27] patthehuman opened #15 "how to play sound with preview layer?"
if i have an app open thats already playing sound how do i make it so the preview layer doesnt stop?

[2016-05-03 14:47] davidlondono opened #17 "Error permisions of Microphone"
i got this fatal error
´´´Swift
fatalError("[CameraEngine] error initInputDevice")
´´´

And i print put the error, it was this one:
_Error Domain=AVFoundationErrorDomain Code=-11852 "Cannot use iPod Microphone" UserInfo={NSLocalizedDescription=Cannot use iPod Microphone, AVErrorDeviceKey=<AVCaptureFigAudioDevice: 0x14f66450 [iPod Microphone][com.apple.avfoundation.avcapturedevice.built-in_audio:0]

[2016-05-03 17:59] davidlondono opened #18 "Disable Rotation of camera"
my app is just on Portrait, but when I turn the divice, the camera turns, but the rest of the layout dont, so it appears rotated

[2016-05-04 00:06] remirobert commented on #18
Let me check that thanks for reporting this issue.

[2016-05-04 00:07] remirobert commented on #17
Permission error ! Thanks for reporting again, your contribution is awesome thanks again. I will check it out.

[2016-05-04 00:35] remirobert commented on #18
fix in this commit: 0af6dc357fa70aa3466914f867d6da0db1209bee

I had a bolean variable, where you can set it to **disable** or **enable** the rotation camera. The default value is false.
[code]

[2016-05-04 00:35] #18 closed

[2016-05-04 14:47] davidlondono commented on #18
thanks

[2016-05-04 14:53] davidlondono commented on #17
you could add also the permisions promp like a function `.askCameraPermision(callback)` `.askCameraPermision(callback)`

also variables to know if it has pemission of the AVFoundation, check the library CameraManager for some inspiration 😄

[2016-05-05 00:46] remirobert commented on #17
@davidlondono Thanks I am currently working on it. I will provide a fix soon. Thanks again for your help. It makes **CameraEngine** so much better !

[2016-05-19 02:54] z3t0 opened #21 "Manually adding to XCode"
Hi!

I am new to iOS development and am trying to add this project to Xcode manually. Whenever I add it as a library I cannot import the module CameraEngine, as it is not found?

Please explain how I can do this, Thanks!

[2016-05-19 03:09] remirobert commented on #21
Where do you have this error ?
Normally, if you include the source by yourself, you don't need to add :
[code]

it will be automatically imported.

[2016-05-19 03:14] z3t0 commented on #21
Oh I see. I'll try that then. Thanks

On Wednesday, 18 May 2016, rémi  <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

--
Thanks,
Rafi Khan

[2016-05-19 03:16] remirobert commented on #21
@z3t0 please be free to reopen the issue, if you didn't  fix your issue.

[2016-05-19 03:16] #21 closed

[2016-05-19 03:40] z3t0 commented on #21
@remirobert Thanks! It got rid of the error

[2016-05-19 03:42] z3t0 opened #22 "Blank Screen?"
Hi I am trying to follow the Quick Start on the README.md and have a blank screen when I run the app.

[code]

Please refer to the code here, any help appreciated

[2016-05-19 03:49] z3t0 commented on #22
I am getting this in Xcode after running the app:
[code]

I'm not too sure what this means...

[2016-05-19 04:06] z3t0 commented on #22
OK so now I have fixed the error above, but now all I get is a black screen... no errors this time

[2016-05-19 04:28] remirobert commented on #22
Yes, that's because you use it on a simulator. You need a real device, to interact with the camera hardware. No virtual solution is currently implemented on the simulator.

[2016-05-19 04:28] #22 closed

[2016-05-19 04:29] z3t0 commented on #22
Actually I am using a real device. It seems there's a problem with my story board.

Sent from my iPhone

[2016-05-19 08:40] remirobert commented on #22
put a ```print("yo") ``` in the ```viewDidLoad``` method. Maybe you forgot to bind the *UIViewController* in your *Storyboard* with your file.

[2016-05-24 14:04] vkhattar opened #23 "configureFlash not working for Video mode"
I am trying to get the flash to switch on but no luck so far. I tried both in my app and also installed the example app on the device and tried running it but the flash does not seem to switch on in configureTorch and configureFlash. Any idea as to how should i debug it ? When i print the currentDevice.flashAvailable i t is set to true. And I am getting inside the try-catch block and not even gett

[2016-05-24 14:39] vkhattar commented on #23
I just understood that torch mode is responsible for the flash mode during video time. Ignore my question!

[2016-05-24 14:39] #23 closed

[2016-05-24 15:44] vkhattar opened #24 "After saving the video the orientation is changed to landscape"
I am recording a video in portrait mode and for some reason I am getting the video in landscape mode when I view it.

[2016-05-24 16:27] remirobert commented on #24
let me check that. I recently added some features about the rotation.

[2016-05-25 13:56] vkhattar commented on #24
I found a work around solution currently, in the cameraEngineVideoEncoder class, I am getting the orientation from status bar orientation instead of using the device orientation as I read it on a thread somewhere that it is more reliable to use the status bar information.
`        var  orientation : UIInterfaceOrientation
        orientation = UIApplication.sharedApplication().statusBarOrientation

[2016-05-26 07:41] namsoila opened #25 "targets for example"
With an upgrade to Cocoapods, the podfile for the example requires concrete targets otherwise the following error results:

[!] The dependency `CameraEngine (~> 0.9)` is not used in any concrete target.
The dependency `PBJVideoPlayer` is not used in any concrete target.
The dependency `FCFileManager` is not used in any concrete target.
The dependency `FLAnimatedImage` is not used in any concrete t

[2016-05-26 07:44] remirobert commented on #25
exactly !! I will change that
Thanks !!

[2016-05-26 07:44] #25 closed

[2016-05-26 08:20] namsoila opened #26 "frames removeAll() for example"
In the example, self.frames.removeAll() is called for the action changeModeCapture in ViewController.swift. If you take a gif and go to the preview, but then try and go back to the view controller to take another gif, the frames are not removed.

[2016-05-26 08:38] namsoila commented on #26
I added the following to capturePhoto() in the ViewController:

self.presentViewController(controller, animated: true, completion: nil)
                                        self.frames.removeAll()
                                        self.labelModeCapture.text = "\(5 - self.frames.count)"

That clears out the count and resets the frames.

https://gist.github.com/namsoila/5440dcd8f699f36dbd3a

[2016-05-26 09:10] remirobert commented on #26
ok thanks for reporting this issue.

[2016-05-26 09:10] #26 closed

[2016-05-26 18:50] roceller opened #27 "Showing black on initial recorded video frame"
Sometimes, the recorded video has black initial frame. Any clue why?

[2016-05-26 20:52] roceller commented on #27
I figured out the issue. The appendBuffer is writing audio ahead of the video. As a workaround, I don't do startWriting until video is given....

`   func appendBuffer(sampleBuffer: CMSampleBuffer!, isVideo: Bool) {

        if CMSampleBufferDataIsReady(sampleBuffer) {
            if self.assetWriter.status == AVAssetWriterStatus.Unknown {
                if isVideo {
                    print("Wr

[2016-05-27 01:36] remirobert commented on #27
I will check that. Thank you so much for your return ! It really helps.

[2016-05-27 19:31] roceller commented on #27
No problem. Being able to pause and resume recording would be great feature. Great work by the way.

[2016-05-28 12:45] AkibShahjahan opened #28 "How to allow users to zoom in?"
Will that be possible

[2016-05-28 13:58] remirobert commented on #28
Hello it's currently not implemented. but it could be a great feature to implement.

[2016-05-28 13:58] #28 closed

[2016-05-29 00:41] AkibShahjahan commented on #28
Do you have any suggestions on how to do it?

[2016-05-30 15:53] eyaldar opened #29 "No ability to access isAdjustingX properties of AVCaptureDevice"
Hi I would like to add a focusing animation but unfortunately I can't get access to the "IsAdjustingFocus"/"isAdjustingExposure"/"isAdjustingWhiteBalance" properties of AVCaptureDevice.

Also due to lack of protected accessor in Swift I can't add access to those properties via extension.
I would really appreciate access to those indicators, but in case you really oppose to adding it to your API  -

[2016-05-31 00:43] remirobert commented on #29
I think it should me good to add this features to the API, and maybe also, let access to the device.

[2016-05-31 04:34] eyaldar commented on #29
Would you rather expose the device or expose the properties?

[2016-05-31 06:22] remirobert commented on #29
properties, but also, expose devices, for deep configuration if needed by the developer.

[2016-05-31 08:30] eyaldar commented on #29
#30

[2016-05-31 11:07] #29 closed

[2016-06-08 15:26] ferama commented on #24
You can still use deviceOrientation but you must invert transformations as this:

case .LandscapeRight: return CGFloat(M_PI * 2)
case .LandscapeLeft: return CGFloat(M_PI)

It seems to work for me.

[2016-06-09 11:27] jdboivin opened #33 "When using cocoapod "Failed to verify code signature""
This is when building app for "In House" and using cocoapod

Failed to verify code signature of /private/var/installd/Library/Caches/com.apple.mobile.installd.staging/....../Frameworks/CameraEngine.framework

I'm not too familiar with cocoapod but it seems like the info.plist file is the culprit? When exporting the .ipa file, CameraEngine had a "binary" / "executable" icon instead of the framework

[2016-06-14 21:53] ossmalpha opened #34 "Crash"
I've implemented this tool as well, but it seems to be crashing when I take videos. Crash happens after around 2,5 seconds of recording because of memory warning.

Any ideas?

[2016-06-28 17:41] danieldelouya opened #35 "Support for Swift 3.0"
Getting tons of errors trying to use it in Swift 3.0

[2016-06-29 00:13] remirobert commented on #35
Yes because they change a lot of API. I think right now it's better to make an another branch with the compatibility.

[2016-06-29 15:19] VOknayan commented on #21
It gives me the same error on the example when trying to build it and install it on an iDevice
![screen shot 2016-06-29 at 5 18 47 pm](https://cloud.githubusercontent.com/assets/20029483/16457954/a472ea06-3e1d-11e6-8a13-fa274c683d44.png)

[2016-06-29 15:25] VOknayan commented on #25
I deleted the existing pod file in the example file and made a new with the above command, still receiving errors for missing modules. Please help

[2016-06-29 15:27] VOknayan opened #36 "Example not able to build"
Im trying everything to build and try the example proj on my iDevice although its giving me two errors: "FCFileManager module not found" and "CameraEngine module not found".

What is a workaround? Thank you

[2016-06-29 16:04] #36 closed

[2016-06-29 19:58] danieldelouya commented on #35
Yeah. I got it to work in Swift 3.0 :)

[2016-06-30 14:54] MFaarkrog commented on #27
@remirobert Great work on this library 👍 Any chance you know when you'll update the above?

[2016-07-01 00:15] remirobert commented on #27
@MFaarkrog I did, it already implemented. Please update your pod.
Do you still have the issue ?

[2016-07-11 11:35] eyaldar opened #38 "Camera in Landscape orientation showing an incorrect preview."
The camera preview in the example stays in portrait orientation when the phone is in landscape orientation.

[2016-07-12 10:11] #38 closed

[2016-07-22 08:41] ltebean commented on #33
Add this block into your pod file:
[code]

[2016-07-23 04:19] danielchristopher1 opened #41 "Preview without audio"
When I start a session for the first time, it shows a dialog asking the user for a microphone permission. I do not want the microphone to be used and have audio processed, all I want is a camera preview. How can I disable the audio recording?

Thanks

[2016-07-23 07:33] remirobert commented on #41
Hum, it's actually not difficult at all to mute the sound for a video. since the video, and the sound, are written independently. I need to add a property like :

[code]

I will add the feature.

[2016-07-26 04:17] danielchristopher1 commented on #41
Actually, that is not what I meant. It's actually requesting permission to use the microphone the first time I open my app. I don't need that permission.

[2016-07-26 04:20] danielchristopher1 opened #42 "Black preview"
Sometimes, the preview will be black once I call `engine.startSession()` so I have to restart my app and then the preview will load. I would say 1/10 times this happens.

[2016-07-26 07:21] remirobert commented on #42
Are following the same implementation in the example project ?

[2016-07-27 10:20] malomo commented on #42
Same here, in a private project

[2016-07-28 23:20] VOknayan opened #43 "Error building with CameraZoomFactor"
It fails to build saying that the value of type 'CameraEngine' has no member 'cameraZoomFactor'.

[2016-07-29 07:53] remirobert commented on #43
Is it with the Example project ?

[2016-07-29 13:57] VOknayan commented on #43
Yes

[2016-07-31 19:56] VOknayan commented on #43
Any updates on the workaround remirobert?

[2016-07-31 20:24] remirobert commented on #43
Hi, I am trying to fix that. I am really busy right now, sorry I will try to fix that as soon as possible.

[2016-08-02 05:43] danielchristopher1 commented on #42
Yes, same implementation.

[2016-08-03 01:16] aasatt commented on #35
@remirobert do you plan to create a new branch that we can start sending pull requests to? I plan on getting it set up for Swift 3 but it would be nice to have 'official' support for it.

[2016-08-03 08:35] remirobert commented on #35
@aasatt I will do it on a different branch

[2016-08-04 08:37] remirobert commented on #35
@aasatt I created a new branch for swift 3. The framework is working. But I think we can improve the API.

[2016-08-04 08:37] #35 closed

[2016-08-10 19:52] anchanfx opened #44 "setting cameraEngine.rotationCamera = true give you an error"
Error: fatal error: unexpectedly found nil while unwrapping an Optional value

at this line of code `self.previewLayer.connection.videoOrientation = AVCaptureVideoOrientation.orientationFromUIDeviceOrientation(UIDevice.currentDevice().orientation)`

in function

`private func handleDeviceOrientation() {
        if self.rotationCamera {
            UIDevice.currentDevice().beginGeneratingDeviceOrie

[2016-08-10 19:57] anchanfx commented on #44
I set cameraEngine.rotationCamera = true in `viewDidAppear()` just like in an example

My problem is I want a view that has camera preview layer to be rotatable by device orientation but by declare `let cameraEngine = CameraEngine()` , it blocks view from rotating. it's freeze orientation to the one that view has when it first appear and declare CameraEngine(). and it also stop the whole applicati

[2016-08-10 20:25] anchanfx commented on #44
by the way I use cameraEngine like this

nav controller -> view A -> view B (has, show camera) -> view C -> view D (has, show camera)

the problem occurs at view D

[2016-08-12 06:31] telip007 opened #45 "AVCaptureVideoDataOutputSampleBufferDelegate ?"
Is it possible to get AVCaptureVideoDataOutputSampleBufferDelegate running ?

[2016-08-12 08:09] ltebean commented on #42
Same here，sometimes the preview is black

[2016-08-12 10:04] remirobert commented on #45
Yes !

You have a completion block for that :

[code]

usage :

[code]

[2016-08-12 10:04] #45 closed

[2016-08-14 09:42] eyaldar commented on #43
It would seem that for some reason those changes are not included in the version downloaded by cocoapods.

[2016-08-15 14:10] otymartin opened #46 ""unable to add mic as InputDevice""
I keep getting this error

[2016-08-17 06:58] otymartin opened #47 "Snapchat like video preview"
@remirobert
I would like to be able to instantly show a preview of a video taken by the user - just like Snapchat and more impressive, Instagram stories. Somehow once a user stops capturing a video on both apps, a preview automatically starts playing in an endless loop seemingly within the same view.

Can I achieve that with `CameraEngine`?

[2016-08-17 19:29] otymartin commented on #4
@remirobert Hey this issue still persists.
Every video i've taken with `CameraEngine` starts with a 0.5 second black screen. Whereas other camera's like `iOS, Snapchat & Instagram` dont have this problem.

[2016-08-18 05:08] otymartin commented on #13
@jnoh the issue still persists for me.
Any idea why?

[2016-08-18 05:38] otymartin commented on #24
@ferama  @vkhattar
Hey this issue persists for me whether its a saved video or previewing a just taken video. However I dont understand both your solutions or how to implement them?

@remirobert Is there a more permanent solution? It seems odd that the video is being taken in portrait yet outputted in landscape.

[2016-08-18 05:50] #47 closed

[2016-08-18 14:54] otymartin commented on #38
@eyaldar What was your solution?

[2016-08-18 14:56] eyaldar commented on #38
If I remember correctly the problem was that the example wasn't utilizing
the library's rotation support.

On Aug 18, 2016 17:54, "Martin Otyeka" <notifications@github.com> wrote:

[2016-08-18 15:03] otymartin commented on #38
@eyaldar My problem is that i take a video in portrait but it saves and previews in landscape. I wonder if its the same issue we are describing? If not, how did you manage to make your videos output in the same orientation as it was taken?

[2016-08-18 15:17] eyaldar commented on #38
I don't think its the same problem but I don:t need video in my use so I
don't really know, sorry...

On Aug 18, 2016 6:03 PM, "Martin Otyeka" <notifications@github.com> wrote:

[2016-08-18 15:23] otymartin commented on #38
@eyaldar thanks anyway :)

[2016-08-18 15:35] eyaldar commented on #38
Try checking whether the correct notification are emitted and whether the
stills camera works as you'd expect.

On Aug 18, 2016 6:23 PM, "Martin Otyeka" <notifications@github.com> wrote:

[2016-08-19 19:40] otymartin commented on #27
@remirobert
Hey this issue still persists. I checked your code and missing was `&& isVideo` in this line by @roceller ```swift if self.assetWriter.status == AVAssetWriterStatus.Unknown && isVideo``` which fixes the problem for me atleast.

[2016-08-19 19:45] otymartin commented on #24
Update. I figured your solution @vkhattar
It wasnt in the `CameraEngineVideoEncoder` class rather in the `extension UIDevice`

[code]

@remirobert Can this go in the readme file just so others don't rib their hair out like i did 😂

[2016-08-20 07:26] otymartin opened #48 "UnMirror front-facing camera"
@remirobert
Video and Photos taken using the front-facing camera are mirrored from whats shown in the `previewLayer`.

Can there be a simple method to invoke in order for whats shown in the `previewLayer` from the front facing camera to be the output (No mirroring effect)?

[2016-08-21 15:51] otymartin commented on #17
@davidlondono how did you fix the error? It still occurs for me when user cancels permission for mic or camera. Which would have been fine except that the error occurs when I initialize camera engine `let cameraEngine = CameraEngine()` which means before I get the chance to ask for permission again, the fatal error will occur. This is bad when your initial view controller is displaying a camera.

[2016-08-22 14:20] davidlondono commented on #17
just check if camera is available manually with `UIKit` and then if it is available create the `CameraEngine` instance

[2016-08-22 14:30] otymartin commented on #17
@davidlondono That means I can't have a global instance of cameraEngine declared. I would have to initialize it in every function I create that manipulates `cameraEngine` - Unless I'm wrong and there is a way I can do this at the top of my class?

[code]

[2016-08-22 14:36] davidlondono commented on #17
or create a class with a static function and static variable of `CameraEngine`, on the function return an optional `CameraEngine` and return nil if is not authorized

[2016-08-22 14:41] otymartin commented on #17
@davidlondono Mind giving me a quick code example. im new at this and im failing 😅🙈

[2016-08-27 18:17] danielchristopher1 commented on #42
Is this ever going to be fixed?

[2016-08-29 06:37] MFaarkrog commented on #27
@remirobert Sorry for the delayed response. Yeah, I still have the issue in the project I'm working on.
I haven't tried otymartin's fix yet, though.

[2016-08-29 13:25] VOknayan commented on #43
@eyaldar so what would be the fastest way to workaround this?

[2016-08-29 13:29] eyaldar commented on #43
For someone to change the version number and pull request the change to check that it actually solves the problem.

[2016-09-01 08:44] Fredehagelund92 opened #49 "Still seem to be a lot of errors in swift 3.0 branch"
I'm trying out the 3.0 swift branch, however there seem to be a lot of errors still

[2016-09-01 14:56] delannoyk commented on #46
I've been having the same issue.

It looks like a race condition because when we initialize a `CameraEngine`, it performs all session initialization in background (see `setupSession()` in `CameraEngine.swift`). As soon that the initializing part is over (on our end), we ask it to change the device (going from .Back to .Front) - causing a new call to `addInputDevice` that happens at the same time a

[2016-09-09 19:43] getSwiftly commented on #43
Simply go into the pods folder and then into 'CameraEngine' folder and copy paste the files in the sample project's CameraEngine Folder. Fixed the problem for me.

[2016-09-11 05:28] sheharyar-rr commented on #49
Did you figure out a way to make it work with swift 3?

[2016-09-15 07:22] ossmalpha opened #50 "Swift 3"
When is this going to be converted to Swift 3 and pushed to master? Existing "swift-3.0" branch is not useable with 166 errors.

[2016-09-16 14:57] remirobert commented on #42
I fixed it. Is just had to remove the first frame if it's a sound buffer. Check the next commit with the swift3 update

[2016-09-16 14:57] #42 closed

[2016-09-16 14:58] remirobert commented on #27
It's fixed, check the next commit with swift 3 update

[2016-09-16 14:58] #27 closed

[2016-09-16 14:58] remirobert commented on #50
it's coming.

[2016-09-16 14:58] #50 closed

[2016-09-16 14:58] remirobert commented on #49
coming coming 🚀

[2016-09-16 14:58] #49 closed

[2016-09-17 14:58] ossmalpha opened #51 "Deployment taget"
Why has the iOS 10 been set as **minimum deployment target**? Can it be changed to at least 9.0 so that iPhone 4 users also could be using my app with 'CameraEngine'?

[2016-09-18 00:13] b992 commented on #41
+1

I encountered the same issue/feature at first time open my app. The app crashes at second launch, if I cancel the mic permission.

[2016-09-18 09:10] remirobert commented on #51
The problem is some API are required in with iOS 10.

[2016-09-18 09:13] MFaarkrog commented on #51
@remirobert Any chance of support for iOS 8 coming back? I mean, it worked before Swift 3 :)

[2016-09-18 09:14] remirobert commented on #51
I am fighting with AVFoundation to see how I can make something working. You can found the last version in the branch swift2.2.

[2016-09-20 10:05] dkeffyn opened #52 "Build to phone?"
I have downloaded this example, and it builds fine but does not run on the phone, doesn't appear to copy to the phone at all, am I missing something?

[2016-09-20 13:14] remirobert commented on #52
Currently it's available for iOS 10, be sure your phone has the same version, and check also the devices list on Xcode

[2016-09-20 13:14] #52 closed

[2016-09-25 18:24] otymartin commented on #46
@delannoyk I failed to follow up but never solved the problem.
Where you able to?

[2016-09-28 18:31] ossmalpha opened #53 "Taking photo with front camera"
The app crashes when I try to take a photo with front camera. This was working fine before updating to Swift 3 syntax.

Here is some debug code I got:

`invalid mode 'kCFRunLoopCommonModes' provided to CFRunLoopRunSpecific - break on _CFRunLoopError_RunCalledWithInvalidMode to debug. This message will only appear once per execution.`

`[AVCapturePhotoOutput capturePhotoWithSettings:delegate:] flas

[2016-10-01 17:49] sfkaos opened #54 "Not compiling with XCode 8, Swift 3"
Does branch 'swift-3.0' compile with XCode 8/Swift 3? I cannot compile. Am I doing something wrong?

[2016-10-02 07:28] remirobert commented on #54
yep yep this branch was for an older Xcode 8 beta version.
You can now use the master.

[2016-10-02 07:28] #54 closed

[2016-10-02 23:40] basuru13 opened #55 "AVCapturePhotoSettings"
When taking a sequence of photos with the camera example, I get the following error:

-[AVCapturePhotoOutput capturePhotoWithSettings:delegate:] Settings may not be re-used'

Any idea how to create a unique value for the settings?

[2016-10-03 07:20] remirobert commented on #55
let me check that in detail. Thanks for reporting this issue.

[2016-10-05 09:20] OlivierVoyer commented on #46
You can solve it by dispatching the call to the sessionQueue (requires modifying the source code)

`public func changeCurrentDevice(position: AVCaptureDevicePosition) {`
`    self.cameraDevice.changeCurrentDevice(position)`
`    // Note: to avoid multi-threading crash`
`    dispatch_async(self.sessionQueue) { () -> Void in`
`        self.configureInputDevice()`
`    }`
`}`

[2016-10-08 08:02] natewitty opened #57 "Crash on session.addOutput(self.captureVideoOutput)"
Ever since updating to XCode8 and Swift3, I've been getting a crash in CameraEngineOutput.swift in the func configureCaptureOutput
[code]
I've updated my podfile to point to the 1.0 branch and the app builds fine, but it crashes on the splash screen giving the error:
`Thread 4: EXC_BAD_ACCESS (code=1, address=0x50)`
(Note: Thread 4 is the capturesession thread)

Has anyone else been getting this?

[2016-10-12 21:07] bryanbartow commented on #57
+1. I'm getting this, too.

[2016-10-19 09:15] #57 closed

[2016-10-19 13:07] bryanbartow commented on #57
@natewitty That was it. I'm assuming this is documented somewhere by Apple, so it was my fault for not RTFM, but Xcode could definitely do a better job of handling this. Time to file a radar...

[2016-10-21 14:15] oniikal3 commented on #54
Is this work in Swift 3.0 branch?

[2016-10-22 23:31] natewitty commented on #55
I've run into a similar problem when taking more than one photo in my app. I traced the issue back to the reuse of the self.capturePhotoSettings object that has the same uniqueId.

Here is the Apple Doc reference:
https://developer.apple.com/reference/avfoundation/avcapturephotosettings

My workaround was to modify the source code as follows.

CameraEngine.swift - line 461

[code]

This seems to b

[2016-10-24 00:43] blesson3 opened #58 "Swift 3.0 compliancy"
Please update the swift 3.0 branch to current syntax.

[2016-11-08 09:57] roshanman opened #59 "How to use with swift3.0 & iOS9"

[2016-11-08 10:03] ayoubkhayatti commented on #59
CameraEngine swift 3 uses a lot of only iOS 10 apple api so I don't think it's possible.

[2016-11-20 19:28] Televiz opened #60 "Can't seem to install the CameraEngine"
I am following all the steps under "Install manually", but still I get the error "No such module `CameraEngine`"

Please help me.

<a href="http://tinypic.com?ref=dnjyn8" target="_blank"><img src="http://i65.tinypic.com/dnjyn8.png" border="0" alt="Image and video hosting by TinyPic"></a>

[2016-11-27 19:51] yhu98 commented on #60
Try to clean project and re-open Xcode?

[2016-11-27 20:28] Televiz commented on #60
Not working, and when I try to install with carthage, it gives an error.

[2016-11-28 01:30] yhu98 commented on #60
It works on ios9 + swift 2.2,
I get the same error for ios 10 + swift 3

[2016-11-29 06:06] patthehuman opened #61 "Seems to be an issue with swift 3 branch"
There seems to be an issue with the swift 3 branch, I can't seem to get it to work... I download the branch via cocoapods, and it seems to be in swift 3 syntax, but it throws all kinds of funky errors.

I can fix the errors and push back a branch if needed?

[2016-12-02 21:56] blesson3 commented on #58
The master branch is swift 3.0 compliant with https://github.com/remirobert/CameraEngine/pull/62

[2016-12-02 21:57] blesson3 commented on #61
I have a pending PR https://github.com/remirobert/CameraEngine/pull/62 that fixes the small issue with swift 3.0 on the master branch, try that

[2016-12-05 11:34] Alexsmile2010 opened #63 "How to add a layer to the video?"

[2016-12-07 14:46] appcelerate opened #64 "SWIFT 3 issue"
`...Pods/CameraEngine/CameraEngine/CameraEngineMetadataOutput.swift:91:18: Expression pattern of type 'String' cannot match values of type 'String!'`

There is an cocoa pods issue with Swift 3

Regards

[2016-12-08 10:48] DrewLX opened #65 "Slow Motion?"
Hi, is it possible to use CameraEngine to make SlowMotion videos?

Drew

[2016-12-10 20:48] HarishHary opened #66 "How to use Swift 3.0 & iOS 10.0 ?"
When I try to use your framework, It gives me a bunch of errors. Is this framework iOS 10 compatible ?
Is yes how can i make it work ? For now it gives me a bunch of errors.

Regards,
Hary

[2016-12-14 12:50] daniel-noul opened #67 "crash on second takePhoto"
xcode 8.1, swift3.
I'm using blesson3 master branch (https://github.com/blesson3/CameraEngine.git)

[2016-12-24 06:21] AkibShahjahan commented on #48
@otymartin were you able to figure this out?

[2016-12-24 14:14] otymartin commented on #48
@AkibShahjahan only when playing back the video not when recording.
[code]

[2016-12-26 09:06] stephane-lb commented on #67
Same issue here, did you find a way to fix it?

[2017-01-02 21:22] nickgreetzly commented on #35
Pod install is not working with swift 3.0

[2017-01-04 12:49] Alexsmile2010 opened #68 "Photo capture with presser .photo So slow."
After photo capture I need to crop image by layer rect. Presset option is .photo. `func capturePhoto(_ blockCompletion: @escaping blockCompletionCapturePhoto) {
        let connectionVideo = self.stillCameraOutput.connection(withMediaType: AVMediaTypeVideo)
        connectionVideo?.videoOrientation = AVCaptureVideoOrientation.orientationFromUIDeviceOrientation(UIDevice.current.orientation)

[2017-01-05 12:43] arunSamcom opened #69 "Flipping the camera, not saving video"
Hi,
When I launch the app first time, everything is working fine. If I start recording the video and then flip the camera, then also it works fine.
But when I flip the camera first time before starting to record, it is not saving the file. I get error as

`writer error Cannot Save`

[2017-02-13 15:40] alexsanderkhitev opened #72 "Never called deinit method in CameraEngine"
Hello! Thanks for this framework!

I was faced with the fact that deinit method is not called in CameraEngine, please tell me how to fix it?

[2017-02-19 05:13] patthehuman commented on #66
I don't think it works, I'm trying to figure it out also.

[2017-02-22 04:31] StormFactory commented on #66
It does not look like it's been updated for Swift 3.0 and Xcode 8

[2017-02-22 17:43] jeanyea commented on #67
same,too. gotta figure it

[2017-02-24 17:33] alexsanderkhitev commented on #72
This problem in the CameraEngine handleDeviceOrientation. I changed this functions and solved this problem

[code]

[2017-02-24 17:33] #72 closed

[2017-02-28 06:48] Tejas-narola commented on #47
Hi @otymartin , did you found some solution?

[2017-02-28 06:49] pareekkhushboo77 commented on #47
hi @otymartin , Did you found a solution?

[2017-03-02 19:23] mihailsalari opened #73 "Just iOS 10 support?"

[2017-03-07 17:57] supergera13 commented on #66
There are others alternatives that you guys found? I can't find anything like it updated for iOS 10

[2017-03-08 20:45] danieldelouya commented on #15
Agreed. Would reeeeally love an answer on this one... @remirobert

[2017-03-09 10:16] danieldelouya commented on #15
Just leaving this for everyone as I got it to work..

Call this right before setupSession()

[code]

[2017-03-16 21:03] marcosgriselli commented on #15
@danieldelouya any other recommendation? It's strangely working for me the first time I open the camera but not the second one.

[2017-03-19 19:46] peroon opened #74 "README typo"
quality settings presset

[2017-03-20 12:17] ivankhau opened #75 "How to start with front camera, also I cant get face detection to work."

[2017-03-29 04:19] ihak opened #76 "Randomly crashes at the start."
Sometimes app crashes in `handleDeviceOrientation()` with the error `fatal error: unexpectedly found nil while unwrapping an Optional value`.

The reason I see is the previewLayer variable declared as forcely unwrapped optional.

Will try to fix and update.

[2017-04-03 07:39] okpo65 opened #78 "configureOutputDevice() crash in CameraEngine!"
Fabric Error content is "partial apply for CameraEngine.(setupSession() -> ()).(closure #1)".
To get an error, do catch apply in "self.cameraMetadata.previewLayer = self.previewLayer".
but it's not a solution. I think previewLayer is announced lazy value so it would be nil.
I'm not be assure that. please help about error! thanks

[2017-04-11 07:56] roceller commented on #24
this should be the fix for the latest Swift syntax change once again...

[code]

[2017-05-12 06:25] danieldelouya commented on #53
I got the same crash

[2017-05-12 07:14] danieldelouya opened #80 "NSArrayM was mutated while being enumerated."
Can't seem to find a fix for this one. Anyone? See pic.

<img width="1409" alt="skaermbillede 2017-05-12 09 13 31" src="https://cloud.githubusercontent.com/assets/8565737/25987245/7201bafa-36f3-11e7-9c48-332b25c33f32.png">

[2017-05-13 10:23] danieldelouya commented on #80
Anyone??

[2017-05-18 07:43] danieldelouya commented on #78
Same here!

[2017-07-06 11:43] vaibhav-varshaaweblabs opened #81 "Crash"
Example App crashes

[2017-08-17 14:03] Jaspur opened #82 "Carthage: Dependency "CameraEngine" has no shared framework schemes"
[code]

[2017-08-21 18:24] Jaspur commented on #82
Any updates @remirobert ?

[2017-08-22 16:01] Jaspur opened #83 "Crash: Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)"
It's the Example. How to fix it?
![schermafdruk 2017-08-22 18 00 41](https://user-images.githubusercontent.com/4254854/29575117-dbfa0528-8763-11e7-902d-01658594a5ff.png)

[2017-09-15 16:41] multinerd opened #84 "Cant get barcode detection to wok"

[2017-09-15 18:49] multinerd commented on #80
This error simply means dont make changes to an array as youre looping though it.

In a nutshell, change this

[code]

into this

[code]

see [https://stackoverflow.com/search?q=NSArrayM+was+mutated+while+being+enumerated](here) for more info

[2017-09-15 19:07] multinerd commented on #84
after a few hours of tinkering, i've figured out the problem...

inside `CameraEngineMetadataOutput.swift` the method

was replaced with

[2017-09-18 20:11] jonchui commented on #83
I get the same issue trying to run the example:

[code]

[2017-11-21 00:22] tamoyal commented on #83
+1

[2017-11-21 00:27] tamoyal commented on #83
the second answer in this post solved it for me: https://stackoverflow.com/questions/24333981/ios-app-with-framework-crashed-on-device-dyld-library-not-loaded-xcode-6-beta

[2017-12-11 06:30] mingsai commented on #82
Probably need to make sure that `.xcodeproj/xcshareddata/xcschemes `is added and pushed to github.

[2018-02-19 14:47] Sub-Zero-1 opened #86 "Randomly getting white screen on start, but records in background"
Hi!

Following problem. I am able to record and play the video files recorded with CameraEngine, but sometimes it just shows a white screen at start. While showing white screen, it still records, because I start my video player immeditaly after recording. I can't find a solution or a reason for that nor could figure out why and where in code to look for ?! Any ideas?

[2018-02-19 19:16] Sub-Zero-1 commented on #86
Solution: White screen is of course the background color of the ViewController. Change it to black and it will get black at the beginning of recording.

I solved my problem by adding a small delay before starting the recorder session. I figured that out, because I had the same problem with playing the video file. After recording I started immediatly my video player and it gave me also a random err

[2018-04-19 09:07] #86 closed

[2018-05-04 04:38] steve21124 opened #87 "is it possible to store video buffer for 5 seconds and after tap of button, it save the last 5 seconds?"
is it possible to store video buffer for 5 seconds and after tap of button, it save the last 5 seconds? there can be multiple tap during camera preview. every tap, it will save the last 5 seconds.

[2018-05-11 04:14] samwize commented on #83
I had the same issue as of May 2018. Need to add `CameraEngine.framework` as an Embedded Binary into the example target.

[2018-07-30 17:04] CameraPost opened #88 "Some updates in order to compile after pod install"
<img width="1144" alt="screen shot 2018-07-30 at 1 02 11 pm" src="https://user-images.githubusercontent.com/33948794/43411711-094dbde2-93f9-11e8-99d7-d4640ca7077b.png">

[2018-08-17 08:18] bartleby commented on #88
Same problem not support swift 4

[2018-08-17 10:59] bartleby commented on #88
i make fork and added support swift 4 you can use it =)
https://github.com/bartleby/CameraEngine

[2018-08-18 08:25] ErAshu opened #89 "How to crop Photo"
is there any functionality for cropping and rotating photo after clicking the image?

[2018-09-03 10:38] freemansion commented on #82
Now scheme is shared, but It's still causes issues when it's trying to build with Carthage. Make sure you've update git tag, so Carthage will select the right commit.

[2018-09-17 07:02] freemansion opened #90 "[WIP] Swift 4 and some new api is available here"
If anyone needs Swift 4.1 version of Camera Engine it is available [here](https://github.com/oozou/CameraEngine/tree/hotfix/permissions-api-and-swift-4-integration)

This branch also contains some code refactoring per specific project requirements, which you might find helpful for your projects as well. It allows you specify requested device outputs, such as `camera` and `microphone` and provides

[2019-03-22 13:53] JohnFlint commented on #90
The link to your Swift 4.1 version of Camera Engine is no longer working. Can you update it please?

[2019-03-25 05:09] freemansion commented on #90
@JohnFlint sorry for the delayed response. Here is the link to the repo I made these changes - https://github.com/oozou/CameraEngine

Or alternatively, you can install fork with cocoapods pointing to our repo and specific commit using following command:

`pod 'CameraEngine', :git => 'https://github.com/oozou/CameraEngine.git', :commit => 'f494fcdc1dab424c951106aad31a7fd4145718aa'`

It's a bit hack

[2019-03-25 11:37] JohnFlint commented on #90
@freemansion thank you for the update! Your implementation works for me up to the point of terminating with "[AVAssetWriterInput markAsFinished] Cannot call method when status is 0'", at pressing the "stop recording" button. In my own Swift 4 implementation of CameraEngine I have the same issue even though I have (as you) implemented the suggestion from issue #55. Do you think this is due to an ap

[2019-03-26 07:16] freemansion commented on #90
@JohnFlint does this issue reproducible at the repo example app?

[2019-03-27 14:13] JohnFlint commented on #90
For me the error is reproduced in the example app from https://github.com/oozou/CameraEngine. Using Xcode Version 10.2 (10E125) and after only changing developer team, each time I run the app, select mode Video, switch camera twice (as the view does not show camera input before the first switch), press start recording, and press stop recording it terminates as described.

I fetched https://github.

[2019-03-27 14:23] freemansion commented on #90
@JohnFlint a change as at [this](https://github.com/oozou/CameraEngine/commit/1471a1b95e6ba1834b2f1f57eaafbcf9a9abe739) commit probably is the fix for error `[AVCapturePhotoOutput capturePhotoWithSettings:delegate:] Settings may not be re-used"`. I remember I had the same issue.

[2019-05-14 23:13] jaws241 opened #91 "Any development plan for 4k 60fps?"